.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.portfolio_item{
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid rgb(255, 196, 0);
    transition: var(--transition);
}

.portfolio_item > h4 {
    color: rgb(255, 196, 0);
}


.portfolio_item > a {
    margin-top: 1rem;
    color: rgb(255, 123, 0);
    font-size: 1.5rem;
}

.portfolio_item h3 {
    margin: 1rem 0 1rem;
    color: rgb(255, 196, 0)
}

.portfolio_cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

#portfolio > h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
    color: rgb(255, 196, 0);
}

@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}