.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.portfolio_item{
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid rgb(255, 196, 0);
    transition: var(--transition);
}

.portfolio_item > h4 {
    color: rgb(255, 196, 0);
}


.portfolio_item > a {
    margin-top: 1rem;
    color: rgb(255, 123, 0);
    font-size: 1.5rem;
}

.portfolio_item h3 {
    margin: 1rem 0 1rem;
    color: rgb(255, 196, 0)
}

.portfolio_cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

#portfolio > h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
   
    color: rgb(255, 196, 0);
}

#port_img{
    border-radius: 2rem;
}

.portfolio_img:hover img {
    box-shadow: 0 20px 20px rgba(0, 106, 255, 0.8);
  }

  @keyframes glow {
    0% {
      text-shadow: none;
    }
    50% {
      text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    }
    100% {
      text-shadow: none;
    }
  }

  h2 {
    animation: glow 2s infinite;
  }

@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    
    
}