/* .about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
*/
.about_container {
    display: flex;
    flex-direction: row;
    gap: 15%;
    
    margin-top: 3rem;
}

.about_image {
    overflow: hidden;
    height: 100%;
    
}


.about_me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    
}

.about_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
}

.about_card {
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.about_icon {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: rgb(0, 106, 255);
}

.about_card h5 {
    font-size: 2rem;
    color: rgb(255, 196, 0)
}

.about_card small {
    font-size: .75rem;
    color: whitesmoke;
}

.about_content p {
    margin: 2rem 0 2.5rem;
    color: whitesmoke;
}

h5 , h2{
    font-size: 3rem;
    color: hotpink;
}

.btn {
    margin-top: 3.65rem;
    color: whitesmoke;
}

#About {
    margin-top: 3.50rem;
    
}

@media screen and (max-width: 600px) {
    /*    
    .about_me {
            width: 65%;
            margin: 0 auto 3rem;
        }

        .about_cards {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }

        .about_content {
            text-align: center;
        }

        .about_content p {
            margin: 1.5rem 0;
        }
        */
        .about_container {
            display: flex;
            flex-direction: column;
            gap: 15%;
            margin-bottom: 8rem;
            margin-top: 3rem;
        }

        h5 {
            margin-top: 2rem;
        }

        .about_cards {
            display: flex;
            flex-direction: column;
        }

        .about_card > h5 {
            margin-top: 1rem;
        }

        .about_card{
            padding-top: 1rem;
        }

        .about_icon {
            font-size: 1rem;
            margin-bottom: .25rem;
            
        }

        .about_card small {
            font-size: 1.25rem;
           
        }
}