.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.about_image {
    border-radius: 2rem;
    overflow: hidden;
    height: 100%;
}

.about_me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.about_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about_card {
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.about_icon {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.about_card h5 {
    font-size: 1rem;
}

.about_card small {
    font-size: .75rem;
}

.about_content p {
    margin: 2rem 0 2.5rem;
}

h5 {
    font-size: 3rem;
}

.btn {
    margin-top: 3.65rem;
}