header {
    height: 90vh;
    padding-top: 7rem;
    overflow: hidden;
}
.profile {
    width: 50%;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}
.header_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    position: relative;
    font-size: 25px;
}

.logo {
    width: 350px;
    height: 350px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;

}

.logo > img {
    border-radius: 50%;
}

.header_social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0rem;
    margin-bottom: -4rem;
   
    
}

 a {
  color: aliceblue;
}

.resumeBox {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 20%;
  left: 50%;

}

/*
@keyframes glow {
    0% {
      text-shadow: 0 0 5px #fff;
    }
    50% {
      text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
    }
    100% {
      text-shadow: 0 0 5px #fff;
    }
  }
  
  .header_social {
    animation: glow 2.5s infinite;;
  }
  */

  

  @media screen and (max-width: 600px) {
    .header_social {
      flex-direction: row;
      margin-bottom: -1rem;
      position: absolute;
      
    }

    .header_social > a {
      width: 100%;
      font-size: 1rem;
    }


    .logo {
      width: 350px;
      height: 350px;
      object-fit: contain;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 35%;
  
  }

  .profile {
    margin-top: 3.75rem;
    font-size: 2.25rem;
    word-wrap: break-word;
  }

  .resumeBox {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 9%;
    left: 50%;
  
  }
}