header {
    height: 90vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
    font-size: 25px;
}

.cta{
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.header_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    font-size: 3rem;
    left: 10px;
    bottom: 4rem;
    
}

.header_social::after {
    content: '';
    width: 2px;
    height: 3rem;
}

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    font-weight: 300;
    font-size: .9rem;
}

.me {
    width: 15rem;
    height: 25rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10rem;
    border-radius: 2rem 2rem 2 2;
    overflow: hidden;
}