footer {
    background:  var(--color-primary);
    padding: 3rem;
    text-align: center;
    font-size: 1rem;
    margin-top: 5.5rem;
    color: aliceblue;
}

.permlinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    display: inline-block;
    color: aliceblue;
}

.footer_socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer_copyright {
    margin-bottom: 10rem;
}