footer {
    background:  var(--color-primary);
    padding: 3rem;
    text-align: center;
    font-size: 1rem;
    margin-top: 5.5rem;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.permlinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    color: aliceblue;
    margin-bottom: 3.5rem;
}

.footer_socials {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer_social a {
margin-left: 2rem;
margin-right: 2rem;
margin-bottom: 1.5rem;
}

.footer_copyright {
    margin-bottom: 2.5rem;
}