@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Share Tech Mono';
  background-image: url(../src/assets/background2.jpg);
  color: yellow;
  opacity: .75;

}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;

}

h1 {
  font-size: 2.5rem;
}

section > h2,
section > h5 {
  text-align: center;
}

section > h2 {
  margin-bottom: 3rem;
}

.btn {
  width: max-content;
  display: inline-block;
  padding: .75rem 1.2rem;
  border: .4rem;
  cursor: pointer;
  border: 1px solid;
}

img
{
  display: block;
  width: 100%;
  object-fit: cover;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #fff;
  }
  50% {
    text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
  }
  100% {
    text-shadow: 0 0 5px #fff;
  }
}

body {
  animation: glow 2.5s infinite;
}