nav {
    width: max-content;
    background: hotpink;
    z-index: 2;
    transform: translateX(-50%);
    display: block;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    display: flex;
    gap: .8rem;
    border-radius: 3em;
    padding: 1rem;
}

nav a {
    background: transparent;
    padding: .2rem;
    border-radius: 50%;
    display: flex;
    color: aliceblue;
    font-size: .60rem;
}

footer a {
    color: aliceblue;
}